<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" >
    <link href="style.css" rel="stylesheet">
    <title>projeto</title>
    <style>
        .form-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

  
<body class="text-center"> 
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6495ED">
        <a class="navbar-brand me-2" href="../fomulario/index.html">DoaFacil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!-- Adicionei as rotas da barra de navegação -->
            <li class="nav-item">
                <a class="nav-link text-dark" href="/findDonations">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/usuarios">Cadastrados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="../fomulario/usuarios.html">usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../fomulario/dashboard.html"> <span>Dashboard</span></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="row">
            <div class=" col-4 mt-3 col-4">
                <div class="input-group mb-3">
                <input type="text" id="searchInput" class="form-control" placeholder="Nome" aria-label="Filtrar por nome" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"  onclick="filterData()"> <i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-2 form-check form-switch align-self-center text-start">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Doador</label>
              </div>
            <div class="col-2 form-check form-switch align-self-center text-start">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label " for="flexSwitchCheckChecked">Beneficiário</label>
            </div>
        </div>
        <table class="table container rounded mt-1 border">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Doador/Beneficiário</th>
                    <th scope="col">Doar/Receber</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="userTableBody">
                <!-- Linhas de usuários serão inseridas aqui dinamicamente -->
            </tbody>
        </table>
        <div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Dados do Recurso</h1>
                    </div>
                    <div class="modal-body text-start">
                        <!-- Dados do formulário -->
                        <div class="mb-3 col">
                           
                            <input type="text" class="form-control" id="user-id" placeholder="">
                        </div>
                        <div class="mb-3 col">
                            <label for="user-name" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="user-name" placeholder="">
                        </div>
                        <div class="row">
                            <div class="mb-3 col-5">
                                <label for="user-cpf" class="form-label">CPF</label>
                                <input type="text" class="form-control" id="user-cpf" placeholder="">
                            </div>
                            <div class="mb-3 col-3">
                                <label for="user-birthdate" class="form-label">Data de Nascimento</label>
                                <input type="date" class="form-control" id="user-birthdate" placeholder="">
                            </div>
                            <div class="mb-3 col-3">
                                <label for="user-gender" class="form-label">Sexo</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" value="M" id="user-gender-male">
                                    <label class="form-check-label" for="user-gender-male">Masculino</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" value="F" id="user-gender-female">
                                    <label class="form-check-label" for="user-gender-female">Feminino</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" value="O" id="user-gender-other">
                                    <label class="form-check-label" for="user-gender-other">Outros</label>
                                </div>
                            </div>
                        </div>
                        <!-- Outros campos de entrada -->
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="user-phone" class="form-label">Telefone</label>
                                <input type="text" class="form-control" id="user-phone" placeholder="">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="user-type" class="form-label">Tipo de Usuário</label>
                                <select class="form-select" id="user-type">
                                    <option value="1">Doador</option>
                                    <option value="2">Beneficiário</option>
                                </select>
                            </div>
                            <div class="mb-3 col-12">
                                <label for="user-street" class="form-label">Rua</label>
                                <input type="text" class="form-control" id="user-street" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-5">
                                <label for="user-neighborhood" class="form-label">Bairro</label>
                                <input type="text" class="form-control" id="user-neighborhood" placeholder="">
                            </div>
                            <div class="mb-3 col-5">
                                <label for="user-complement" class="form-label">Complemento</label>
                                <input type="text" class="form-control" id="user-complement" placeholder="">
                            </div>
                            <div class="mb-3 col-2">
                                <label for="user-number" class="form-label">Número</label>
                                <input type="text" class="form-control" id="user-number" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="updateUser()">Salvar</button>  <!-- Aqui você coloca o ID do usuário -->
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="modal fade modal-lg" id="staticBackdropUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropUserLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropUserLabel">Dados do Produto</h1>
                    </div>
                    <div class="modal-body text-start">
                        <div class="row">
                            <div class="mb-3 col-8">
                                <label for="resource-name" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="resource-name" placeholder="">
                            </div>
                            <div class="mb-3 col-4">
                                <label for="resource-quantity" class="form-label">Quantidade</label>
                                <input type="number" class="form-control" id="resource-quantity" placeholder="">
                            </div>
                        </div>
                        <div class="mb-3 col">
                            <label for="resource-description" class="form-label">Descrição</label>
                            <textarea class="form-control" id="resource-description" placeholder="Insira a descrição aqui" rows="4"></textarea>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button id="submit-btn" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script>

            const getUser = async (name = '') => {
                const accessToken = localStorage.getItem('accessToken');
            
                const url = name ? `http://localhost:3000/api/users?name=${encodeURIComponent(name)}` : 'http://localhost:3000/api/users';
                
                try {
                    const response = await fetch(url, {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${accessToken}`
                        }
                    });
    
                    if (!response.ok) {
                        throw new Error("Falha ao buscar os dados do usuário");
                    }
    
                    const data = await response.json();
                    console.log(data);
    
                    const filteredUsers = data.users.filter(user => user.user_type !== null && user.user_type !== undefined);
                    fillUserTable(filteredUsers);
    
                } catch (error) {
                    console.error("Erro ao obter os dados do usuário:", error);
                }
            };

            const createResource = async (data) => {
                try {
                    const accessToken = localStorage.getItem('accessToken');
                    
                    const response = await fetch("http://localhost:3000/api/resource", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${accessToken}`
                        },
                        body: JSON.stringify(data)
                    });

                    console.log(response);
                    return await response.json();
                } catch (error) {
                    console.error("Erro ao criar o recurso:", error);
                    throw error;
                }
            };

            // Captura o evento de click no botão de salvar
            document.getElementById('submit-btn').addEventListener('click', async () => {
                // Coleta os valores dos campos
                const name = document.getElementById('resource-name').value;
                const quantity = document.getElementById('resource-quantity').value;
                const description = document.getElementById('resource-description').value;

                // Cria o objeto data
                const data = {
                    name: name,
                    quantity: quantity,
                    description: description
                };

                // Chama a função para criar o recurso e enviar para a API
                try {
                    const result = await createResource(data);
                    console.log('Recurso criado com sucesso:', result);
                    // Aqui você pode adicionar lógica para mostrar um aviso ou fechar o modal, por exemplo
                } catch (error) {
                    console.error('Erro ao criar recurso:', error);
                }
            });

    
            const fillUserTable = (users) => {
                const tableBody = document.getElementById('userTableBody');
                tableBody.innerHTML = '';
    
                users.forEach((user) => {

                    const row = document.createElement('tr');
    
                    row.innerHTML = `
                        <th scope="row">${user.id}</th>
                        <td>${user.name}</td>
                        <td>${user.cpf}</td>
                        <td>${user.user_type || 'Indefinido'}</td>
                        <td><a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdropUser">Incluir</a></td>
                         <td>
                            <button class="btn btn-primary btn-sm" onclick="editUser('${user.id}')">Editar</button>
                            <button class="btn btn-danger btn-sm" onclick="deleteUser('${user.id}')">Excluir</button>
                        </td>
                    `;
                    
                    tableBody.appendChild(row);
                });
            };
    
            const filterData = () => {
                const name = document.getElementById('searchInput').value.trim();
                getUser(name);
            };
            
            const editUser = async (id) => {
                const accessToken = localStorage.getItem('accessToken');
                const url = `http://localhost:3000/api/users/${id}`;
                
                try {
                    const response = await fetch(url, {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${accessToken}`
                        }
                    });
                    
                    if (!response.ok) {
                        throw new Error("Falha ao buscar os dados do usuário");
                    }

                    const data = await response.json();
                  
                    document.getElementById('user-id').value = data.id;
                    document.getElementById('user-name').value = data.name;
                    document.getElementById('user-cpf').value = data.cpf;
                    document.getElementById('user-birthdate').value = data.birth_date;
                    document.getElementById('user-phone').value = data.phone;
                    document.getElementById('user-street').value = data.street;
                    document.getElementById('user-neighborhood').value = data.neighborhood;
                    document.getElementById('user-complement').value = data.complement;
                    document.getElementById('user-number').value = data.number;

                    // Preenchendo o tipo de usuário
                    document.getElementById('user-type').value = data.user_type === 'beneficiary' ? '2' : '1';

                    // Preenchendo o sexo (radio buttons)
                    if (data.gender === 'M') {
                        document.getElementById('user-gender-male').checked = true;
                    } else if (data.gender === 'F') {
                        document.getElementById('user-gender-female').checked = true;
                    } else {
                        document.getElementById('user-gender-other').checked = true;
                    }

                    // Abrindo o modal após preencher os dados
                    var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
                    myModal.show();  // Abre o modal

                } catch (error) {
                    console.error("Erro ao obter os dados do usuário:", error);
                }
            };

            const updateUser = async () => {
                
                const id = document.getElementById('user-id').value;
                const name = document.getElementById('user-name').value;
                const cpf = document.getElementById('user-cpf').value;
                const birthDate = document.getElementById('user-birthdate').value;
                const phone = document.getElementById('user-phone').value;
                const street = document.getElementById('user-street').value;
                const neighborhood = document.getElementById('user-neighborhood').value;
                const complement = document.getElementById('user-complement').value;
                const number = document.getElementById('user-number').value;
                const userType = document.getElementById('user-type').value;
                const gender = document.querySelector('input[name="gender"]:checked') ? document.querySelector('input[name="gender"]:checked').value : null;

                const updatedUser = {
                    id,
                    name,
                    cpf,
                    birth_date: birthDate,
                    phone,
                    street,
                    neighborhood,
                    complement,
                    number,
                    user_type: userType,
                    gender
                };
             
                const accessToken = localStorage.getItem('accessToken');
                const url = `http://localhost:3000/api/users/${updatedUser.id}`;
                
                try {
                    const response = await fetch(url, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${accessToken}`
                        },
                        body: JSON.stringify(updatedUser)
                    });
                    
                    if (!response.ok) {
                        throw new Error("Falha ao atualizar os dados do usuário");
                    }

                    const data = await response.json();

                    console.log("Usuário atualizado com sucesso:", data);

                 
                    location.reload();
        
                    alert('Usuário atualizado com sucesso!');
                    
                } catch (error) {
                    console.error("Erro ao atualizar os dados do usuário:", error);
                    alert('Erro ao atualizar o usuário. Tente novamente.');
                }
            };
            const deleteUser = async (id) => {
                const accessToken = localStorage.getItem('accessToken');
                const url = `http://localhost:3000/api/users/${id}`;

                try {
                    const response = await fetch(url, {
                    method: "DELETE",
                    headers: {
                        "Authorization": `Bearer ${accessToken}`,
                        "Content-Type": "application/json"
                    }
                    });

                    if (!response.ok) {
                    throw new Error("Erro ao excluir o usuário");
                    }

                    const data = await response.json();

                    // Recarregar a página
                    window.location.reload();

                } catch (error) {
                    console.error("Erro ao excluir o usuário:", error);
                    alert("Falha ao excluir o usuário. Tente novamente.");
                }
            };
            const urlParams = new URLSearchParams(window.location.search);
            const name = urlParams.get('name');
            console.log(name)
            const findByParams = async (name = '') => {
           
                const accessToken = localStorage.getItem('accessToken');

                const url = name ? `http://localhost:3000/api/users?name=${encodeURIComponent(name)}` : 'http://localhost:3000/api/users';

                try {
                    const response = await fetch(url, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": `Bearer ${accessToken}`
                    }
                    });

                    if (!response.ok) {
                    throw new Error("Falha ao buscar os dados do usuário");
                    }

                    const data = await response.json();
                    console.log(data);

                    // Filtrar os usuários pelo nome
                    const filteredUsers = data.users.filter((user) => {
                    return user.name.toLowerCase().includes(name.toLowerCase());
                    });

                    // Remover usuários com user_type nulo ou indefinido
                    const validUsers = filteredUsers.filter((user) => user.user_type !== null && user.user_type !== undefined);

                    fillUserTable(validUsers);

                } catch (error) {
                    console.error("Erro ao obter os dados do usuário:", error);
                }
                };
            if(name){
                findByParams(name);
            }else{
                getUser();
            }
           
            
        </script>
        
</body>
</html>
